html, body {
    height: 100%;
    width: 100%;
    margin:0%;
    padding: 0%;
    background-color:lightpink;
    display: flex;
    align-items: center;
    justify-content: center;

}
h1 {
    text-align: center;

    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color:black
    
}
@media screen and (max-width:900px) and (min-width:600px){

body{
     color:darkolivegreen
    }   
h1{
     font-size: 32px
    } 
}
@media screen and (max-width:600px){
    h1{
        font-size: 24; 
    }
    body{ 
        background-color:cornflowerblue;
    }
}